{% extends "base.html" %}

{% load static %}
{% load param_replace %}
{% load martortags %}
{% load tz %}
{% load google_calendar %}
{% load profile_url %}

{% block title %}
    {{ block.super }} - Events
{% endblock title %}

{% block nav-resources-classes %}active{% endblock nav-resources-classes %}

{% block full_page_content %}
{% endblock full_page_content %}

{% block content %}
	<h2 class="text-primary fw-bold mb-4">Upcoming Events</h2>

	<form method="get" action="">
		<input type="hidden" id="t" name="t" value="{{ t }}" />
		<div class="form-row mx-0 py-2">
			<div class="col-12 col-sm-8 offset-sm-2">
				<div id="search-form" class="input-group bg-white rounded border border-primary">
					<div class="d-flex p-1 w-100">
						<input id="search" class="form-control" type="search" placeholder="Enter keywords to search for events" name="s" autofocus {% if request.GET.s %}value="{{ request.GET.s }}"{% endif %}/>
						<input id="search-btn" type="submit" value="Search" class="btn btn-secondary ps-4 pe-4 rounded mx-auto">
					</div>
				</div>
			</div>
		</div>
		<div class="form-row mx-0 py-2 d-flex justify-content-center">
			{% for type_id, type in types %}
				<input type="submit" value="{{ type }}" onclick="document.getElementById('t').value = '{% if t == type_id %}{% else %}{{ type_id }}{% endif %}'" class="btn {% if t == type_id %}btn-secondary{% else %}btn-primary{% endif %} m-1" />
			{% endfor %}
		</div>
	</form>

	{% if occurrences %}
		<hr />

		<div class="infinite-container">
			{% for occurrence in occurrences %}
				{% localtime on %}
					{% with event=occurrence.event start_date=occurrence.start_date|localtime end_date=occurrence.end_date|localtime %}
					<div class="table-entry infinite-item">
						<div class="my-4 d-flex flex-wrap">
							<div class="col-3 d-flex flex-column align-items-center">
								<div class="calendar-icon" data-weekday="{{ start_date | date:"l" }}" data-month="{{ start_date | date:"F" }}">
									{{ start_date.day }}
								</div>
								<a class="btn btn-secondary btn-sm mt-3" href="{{ occurrence | google_calendarize }}">
									<i class="fas fa-calendar"></i>
									+ Calendar
								</a>
							</div>
							<div class="col-9 ps-3 row">
								<div class="col-12 col-md-8">
									<h5 class="text-primary fw-bold">{{ event.title }}</h5>
									{{ start_date | time }} to {{ end_date | time }}
									{% if event.description %}
										<p>{{ event.description | safe_markdown }}</p>
									{% endif %}
									{% if event.location %}
										<p>{{ event.location | safe_markdown }}</p>
									{% endif %}
								</div>
								{% if event.speakers.public %}
									<div class="col-12 mt-4 col-md-4 mt-md-0">
										<h6 class="text-primary fw-bold">WiNRepo Speakers</h6>
										{% for speaker in event.speakers.public %}
											<p class="my-1">
												<a href="{{ speaker | profile_url }}">{{ speaker.name }}</a>
											</p>
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
					{% endwith %}
				{% endlocaltime %}
			{% endfor %}
		</div>

		{% if occurrences|length > 0 %}
			{% with occurrences|last as last %}
				<a class="infinite-more-link" href="?{% param_replace after=last.start_date after_id=last.event.id %}">More</a>
			{% endwith %}
		{% endif %}

		<div class="loading" style="display: none;">
			Loading...
		</div>
	{% else %}
		<p class="p-4 text-center">No matching entries.</p>
	{% endif %}
	<a href="#" id="back-to-top" title="Back to top" class="btn"><i class="fas fa-chevron-circle-up"></i></a>
{% endblock content %}

{% block footer_scripts %}
	{{ block.super }}
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/infinite.min.js' %}"></script>
	<script src="{% static 'profiles/js/list.js' %}?v=2"></script>
{% endblock footer_scripts %}
